<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>check</servlet-name>
    <servlet-class>check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>check2</servlet-name>
    <servlet-class>predictorservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check2</servlet-name>
    <url-pattern>/predictorservlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check3</servlet-name>
    <servlet-class>searchservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check3</servlet-name>
    <url-pattern>/searchservlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check4</servlet-name>
    <servlet-class>Userreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check4</servlet-name>
    <url-pattern>/userreg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check5</servlet-name>
    <servlet-class>image</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check5</servlet-name>
    <url-pattern>/image.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check6</servlet-name>
    <servlet-class>checkpwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check6</servlet-name>
    <url-pattern>/checkpwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check7</servlet-name>
    <servlet-class>cr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check7</servlet-name>
    <url-pattern>/cr.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check8</servlet-name>
    <servlet-class>image2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check8</servlet-name>
    <url-pattern>/image2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check9</servlet-name>
    <servlet-class>cname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check9</servlet-name>
    <url-pattern>/cname</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check10</servlet-name>
    <servlet-class>cpwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check10</servlet-name>
    <url-pattern>/cpwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check11</servlet-name>
    <servlet-class>ceml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check11</servlet-name>
    <url-pattern>/email.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check12</servlet-name>
    <servlet-class>dimg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check12</servlet-name>
    <url-pattern>/defaultimg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check13</servlet-name>
    <servlet-class>rpic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check13</servlet-name>
    <url-pattern>/removepic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check14</servlet-name>
    <servlet-class>image2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check14</servlet-name>
    <url-pattern>/image2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check15</servlet-name>
    <servlet-class>predictorservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check15</servlet-name>
    <url-pattern>/predictorservlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check16</servlet-name>
    <servlet-class>invested</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check16</servlet-name>
    <url-pattern>/invested.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check17</servlet-name>
    <servlet-class>TotalAssets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check17</servlet-name>
    <url-pattern>/totalassets.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check18</servlet-name>
    <servlet-class>history</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check18</servlet-name>
    <url-pattern>/history.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>